<!-- Services Section -->
    <section id="call-for-papers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="mission">Mission</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-justify col-md-offset-1">
                <p>Robotics and Software Engineering are transforming the global economy. Around the world, industries are adopting robots faster than ever, but the United States still lags behind other major economies [<a href="https://ifr.org/ifr-press-releases/news/global-robotics-race-korea-singapore-and-germany-in-the-lead">1</a>].
                Even within the country, most robots are concentrated in a few regions like California, Texas, and the Midwest. States such as Louisiana remain on the sidelines, with limited
                access to automation and a workforce that hasn't yet benefited from this technological shift.</p>

                <p></p>At the RISE Lab, we believe this gap represents an opportunity for research and collaboration. By combining Robotics with Software Engineering, we are creating contributions on how to design,
                develop, and deploy intelligent systems that can improve local industries and communities in Louisiana and abroad. We believe the robotics revolution should not be limited to a few regions or industries;
                it should lift every community, empower every student, and open new opportunities for economical growth right here in our state. Join us on this fight!</p>
                </div>
            </div>
        </div>
    </section>