<!-- Team Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Members</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="img/team/felipe.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Felipe Fronchetti</h4>
                        <p>Principal Investigator</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/fronchat/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://scholar.google.com/citations?user=-6jIjG8AAAAJ&hl=en"  target="_blank">
                                    <i class="fa-brands fa-google-scholar"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="img/team/juliana.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Juliana Freitas</h4>
                        <p>Ph.D. Student</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/julianasantosfreitas/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"  target="_blank">
                                    <i class="fa-brands fa-google-scholar"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                                <div class="col-md-3">
                    <div class="team-member">
                        <img src="img/team/elijah.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Elijah Phifer</h4>
                        <p>Ph.D. Student</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/elijahphifer/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"  target="_blank">
                                    <i class="fa-brands fa-google-scholar"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                                <div class="col-md-3">
                    <div class="team-member">
                        <img src="img/team/nabila.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nabila Fairuz</h4>
                        <p>Ph.D. Student</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/nabila-fairuz-3a102a295/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"  target="_blank">
                                    <i class="fa-brands fa-google-scholar"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row committee">
                <div class="col-md-12">
                <h4 style="padding-left: 25px;"><b>Other members</b></h4>
                <ul>
                    <li>Daniel Guo, Undergraduate</li>
                    <li>Max Duet, Undergraduate</li>
                    <li>Kyle King, Undergraduate</li>
                    <li>Henry Nguyen, Undergraduate</li>
                    <li>Alex Hollier, Undergraduate</li>
                </ul>
                <h4 style="padding-left: 25px;"><b>Former Students</b></h4>
                <ul>
                    <li>Sarah Burvant, Undergraduate (Graduated)</li>
                    <li>Caitlynn Sengchiam, Undergraduate (Graduated)</li>
                    <li>Obiora Odugu, Masters Student (Graduated)</li>
                </ul>
                </div>
            </div>
        </div>
    </section>