<!-- Website developed by Felipe Fronchetti -->
<!DOCTYPE html>
<html lang="en">
<header>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <meta name=“theme-color” content="#000000"/>
    <!-- CSS (Default) -->
    <link href="{{ site.url }}/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <script src="https://kit.fontawesome.com/3d9da8be4a.js" crossorigin="anonymous"></script>
</header>
<body>

  <div class="container-lg">
    <nav class="navbar sticky-top navbar-expand-lg">
          <a class="navbar-brand" href="{{ site.url }}">LSU Robotics Lab</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/publications">Publications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/members">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    <div class="container-lg">
      {{ content }}
    </div>
</body>
</html>
