---
layout: default
---

<div class="section">
    <div class="four columns">
        Where to find me? <a href="https://www.linkedin.com/in/fronchat/" target="__blank">LinkedIn</a>, <a href="https://github.com/fronchetti" target="__blank">GitHub</a> and
        <a href="https://scholar.google.com.br/citations?user=-6jIjG8AAAAJ" target="__blank">Google Scholar</a>.
    </div>
    <br>
    <br>
</div>

<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="far fa-user-circle"></i>
            About
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="summary">
            Luiz Felipe Fronchetti Dias, Ph.D. Student in Computer Science at Virginia Commonwealth University, Virginia, USA.
            Primarily working on the intersection between Software Engineering (SE) and Human-Robot Interaction (HRI), but also with
            experience on Computer-Supported Cooperative Work (CSCW). I currently investigate alternatives to improve the way humans write code for collaborative robots, including
            studies on mixed reality and block-based programming languages.
            Although I love to work with robots, my research career started with open source communities. For more than six years, I investigated topics such
            as the integration of newcomers in open source projects, the differences between employees and volunteers in open source communities and the benefits of social coding platforms like GitHub.
        </div>
    </div>
</div>
<be>

<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="fas fa-graduation-cap"></i>
            Education
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="education">
        {% assign degrees = site.degrees | sort: "start_year" | reverse %}
        <ul>
            {% for degree in degrees %}
            <li>
                <span class="title">{{ degree.title }}</span>
                <div class="row">
                    <span class="twelve columns">{{ degree.institution }}</span>
                    <span class="twelve columns">{{ degree.start_year }} - {{ degree.end_year }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="far fa-newspaper"></i>
            Publications
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="publication">
        <small>* For older papers, you may find my name as Luiz Dias.</small>

        {% assign publication_years = site.papers | sort: "year" | group_by: "year" | reverse %}
        {% for year in publication_years %}
            <div class="year">
                {{ year.name }}
            </div>
            <ul>
            {% for paper in year.items %}
                <div class="row">
                    <div class="ten columns">
                        <li>
                            <span class="title">{{ paper.title }}</span>
                            <div class="row">
                                <span>{{ paper.published_at }}</span>
                            </div>
                            <div class="row">
                                <span>{{ paper.authors }}</span>
                            </div>
                        </li>
                    </div>
                    <div class="two columns">
                        <div class="row">
                            {% if paper.preprint != undefined %}
                            <a href="{{ paper.preprint }}" target="__blank"><i class="far fa-file-alt"></i> Paper</a>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if paper.slides != undefined %}
                            <a href="{{ paper.slides }}" target="__blank"><i class="fas fa-image"></i> Slides</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>


<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="fas fa-trophy"></i>
            Awards
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="awards">
        {% assign awards = site.awards | sort: "year" | reverse %}
        <ul>
            {% for award in awards %}
            <li>
                <span>{{ award.title }} ({{ award.year }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="fas fa-money-bill"></i>
            Sponsorship
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="funding">
        {% assign fundings = site.fundings | sort: "start_year" | reverse %}
        <ul>
            {% for funding in fundings %}
            <li>
                <span class="title">{{ funding.title }}</span>
                <div class="row">
                    <span class="twelve columns">{{ funding.institution }}</span>
                    <span class="twelve columns">{{ funding.start_year }} - {{ funding.end_year }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="fas fa-hands-helping"></i>
            Service
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="service">
        {% assign services = site.service | sort: "year" | reverse %}
        <ul>
            {% for service in services %}
            <li>
                <span class="title">{{ service.revenue }}</span>
                <div class="row">
                    <span class="twelve columns">{{ service.job }}</span>
                    <span class="twelve columns">{{ service.year }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="section">
    <div class="section-title row">
        <div class="four columns">
            <hr>
        </div>
        <div class="four columns">
            <i class="fas fa-code"></i>
            SOFTWARE
        </div>
        <div class="four columns">
            <hr>
        </div>
    </div>
    <div class="tools">
        {% assign tools = site.tools %}
        <ul>
            {% for tool in site.tools %}
            <li>
                <span class="title">{{ tool.title }}</span>
                <div class="row">
                    <span class="twelve columns">
                        <a href="{{ tool.website }}" target="__blank">{{ tool.website }}</a>
                    </span>
                    <span class="twelve columns">
                        {{ tool.description }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr>
There is more information about me on <a href="https://github.com/fronchetti" target="__blank">GitHub</a> and
<a href="https://scholar.google.com.br/citations?user=-6jIjG8AAAAJ" target="__blank">Google Scholar</a>.
